<!DOCTYPE>
<html>
<head>
	<link rel="shortcut icon" type="image/png" href="https://i.pinimg.com/1200x/a1/26/d1/a126d1d1b13d4ffcc04eeac91b4e7523.jpg">
	<!-- import the webpage's stylesheet -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/home.css"/>

	<!-- import the webpage's client-side javascript file -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="client.js" async defer></script>

	<!-- import socket.io -->
	<script src="/socket.io/socket.io.js"></script>

	<title>Hello There!</title>
</head>
<body>

	<h1>Chatterbox</hi>

	<div id="chats"></div>

	<div>
		<label for="chat">Enter Chat:</label><br>
		<input type="text" id="chat" name="chat"><br>
		<button id="submitbutton">Submit Chat</button>
	</div> 

		<img src="/images/skeleton.jpg">
</body>
</html>
